
.social-icons {
    margin: 10px 0;
    text-align: right
  }

  .social-icons a {
    color: rgb(156, 15, 15);
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .social-icons a:hover {
    color: #f2681d; 
  }
  .margenesBlockchain{
    margin: 5px;
    width: 18rem;
}
.contenedorTraining{
    display: flex;
    flex-wrap: wrap;
}
.margenesTrading{
  margin: 5px;
  width: 18rem;
}

.margenesLTE{
  margin: 5px;
  width: 18rem;
}
